<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Prototipado del Juego</h1>
        </div>
        <app-plantilla Opcion_clase="container_op1" 
            Imagen="
            ./assets/imagenes/avance3/Avc3Juego.jpeg
            " 
            Subtitulo="
            Juego: Resistencia, gana o muere
            " 
            Contenido="
            Un perro vio como su dueño fue asesinado por una banda de criminales cuando atacó una ciudadela. 
            Esa noche un demonio le da habilidades para que pueda llevar a cabo su venganza.
            ">
        </app-plantilla>
        <app-parrafos Opcion_clase="container_op1" 
            Subtitulo="
            ¿Qué debe hacer el jugador para ganar?
            " 
            Contenido="
            En el caso del perro llegar a la base de los criminales
            y acabar con el jefe. Los criminales tienen que matar al perro
            ">
        </app-parrafos>
        <app-parrafos Opcion_clase="container_op1" 
            Subtitulo="
            ¿Cómo interactúan los jugadores?
            " 
            Contenido="
            Los jugadores parten en puntos que ellos decidan dentro de su base, 
            en el caso de los criminales en su base y del perro su casa. El perro 
            tiene que llegar a la base y los ladrones matar al perro. Si caen en el
            mismo espacio tendrán que enfrentarse en un mejor de 3 de quien saca la 
            mayor cantidad en los dados juntos, piedra papel o tijera, pares o nones,
            o si no llegan a una decisión sería elegido aleatoriamente. Si el perro gana 
            decide si unir al jugador o matarlo para ganar un corazón, si el perro pierde 
            perderá una de sus 3 vidas. Cada vez que el perro pierda una vida tendrá que 
            regresar a su casa. Para derrotar al jefe el perro tendrá que llegar a la base
            y ganar un mejor de 5 de la misma manera que con los criminales. El jefe tendrá 3 vidas.  
            "
            Contenido2="
            Existirán en el tablero puntos adicionales donde el perro podrá ir 
            y tendrán distintos desafíos (sacar un numero par, que el jugador haga 
            cierta acción en específico) que le permitirán obtener vidas adicionales, 
            pero esto es totalmente opcional. Si quiere el perro podrá intentar ir directamente a enfrentar al jefe
            "
            >
        </app-parrafos>
    </div>
</app-navegacion>