<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Cambio de Juego</h1>
        </div>
        <div class="container">
            <p class="container_op1">
                El juego original fue reemplazado por otro debido
                a numerosas deficiencias y lagunas que confundían
                a los jugadores. Estos vacíos generaban una
                experiencia de juego confusa y frustrante.
                Para mejorar la calidad y la comprensión del juego,
                se tomó la decisión de desarrollar una nueva versión
                que abordara estos problemas y proporcionara una
                experiencia más clara y satisfactoria para los jugadores.
            </p>
        </div>
        <app-plantilla Opcion_clase="container_op1" Imagen="
            ./assets/imagenes/avance5/Avc5Wrestlements.jpeg
            " Subtitulo="
            Wrestlements
            " Contenido="
            Es un juego que consiste en tirar dados en un ring, en el cual si el 
            dado que lanzo un jugar se repite con alguno que este en el ring,
            este tendrá que seguir las reglas de la cara del dado que le toco. 
            ">
        </app-plantilla>
        <div class="container">
            <div class="container_op1">
                <img src="./assets/imagenes/avance5/Avc5Comojugar.jpeg">
                <p>
                    <b>¿Cómo se juega?</b><br>
                    El juego contiene 19 dados, pueden jugar 2 – 3 personas, cada persona debe tener 6 dados y hay un
                    dado
                    extra que será para iniciar el juego.
                    El dado del inicio se lo debe tirar hasta que salga un elemento.
                    Para decidir el orden habrá 3 cartas enumeradas del 1 al 3 y cada jugador tomará una al azar. Una
                    vez
                    que ya este definido el orden ya se podrá jugar
                    El jugador debe tirar un dado al ring, también puede colisionar con otros dados para cambiar el
                    color
                    visto desde arriba.
                </p>
                <img src="./assets/imagenes/avance5/Avc5Dados.jpeg">
                <p>
                    Si el dado que el jugador tiró coincide con el mismo color de un elemento visto desde arriba con
                    otros dados, deba seguir las instrucciones de lo que representa ese elemento.

                    <br><b>Fuego (Rojo)</b>: El jugador debe recolectar los dados que tienen el color del elemento fuego
                    cuando
                    se ven
                    desde arriba, además si aún hay dados en el ring debe tomar uno y termina su turno.

                    <br><b>Agua (Azul)</b>: El jugador no debe recolectar los dados que tienen el color del elemento
                    agua
                    cuando se ven
                    desde arriba, y termina su turno.

                    <br><b>Tierra (Verde)</b>: El jugador debe recolectar los dados que tienen el color del elemento
                    tierra
                    cuando se ven
                    desde arriba como un solo bloque por el jugador y se termina su turno, es decir que, si en algún
                    momento le toca volver a tirar, tendrá que lanzar todo ese bloque de dados.

                    <br><b>Aire (Blanco)</b>: El jugador debe recolectar los dados que tienen el color del elemento aire
                    cuando
                    se ven desde
                    arriba, además debe sacudir el ring por 2s y termina su turno.

                    <br><b>Trueno (Amarilo)</b>: El jugador debe recolectar los dados que tienen el color del elemento
                    trueno
                    cuando se ven
                    desde arriba, además de que en caso de tener un solo bloque de dados este anula el efecto del
                    elemento tierra, pero si tiene más de un bloque de dados este anula el efecto del bloque mayor y
                    termina su turno.

                    Si el dado que el jugador tiró coincide con el color del comodín, debera seguir las instrucciones
                    del comodín

                    <br><b>Comodín (Naranja)</b>: El jugador tira el dado y tiene el color del comodín pueden pasar dos
                    escenarios:

                    <br>En el ring hay dados que tienen el color del comodín: El jugador debe recolectar los dados que
                    tienen el color del comodín, luego toma una carta de los comodines y finaliza su turno.

                    <br>En el ring no hay dados que tienen el color del comodín: El jugador toma una carta de los
                    comodines
                    y luego debe volver a lanzar.
                </p>
                <img src="./assets/imagenes/avance5/Avc5Comodines.jpeg">
                <p>
                    Si el ring llega a quedar vacío, el siguiente jugador de turno tendrá que tirar todos sus dados
                    en
                    una superficie plana (no el ring), y los dados vistos desde arriba que no tengan repetidos deberán
                    ser tirados al ring y no aplica ninguna de las reglas antes mencionadas. Después de que el jugador
                    haya realizado la acción ya podrá ejercer su turno de juego.
                </p>
            </div>
        </div>
    </div>
</app-navegacion>