<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Manual de Wrestlements</h1>
        </div>
        <div class="container">
            <div class="container_op1">
                <img src="./assets/imagenes/avance8/Av8_Img1.jpeg">
                <p><strong>Contenido</strong></p>
                <p>El juego contiene 20 dados de 6 colores que representan elementos: Fuego, Aire, Tierra, Trueno, Agua
                    y Comod&iacute;n. Adem&aacute;s de un mazo de comodines, cartas enumeradas para aplicar orden de
                    turnos, y el ring.</p>
                <p><strong>&iquest;C&oacute;mo se juega?</strong></p>
                <p>Pueden jugar un m&aacute;ximo de 4 personas:</p>
                <ul>
                    <li>2 jugadores: cada jugador tiene 9 dados.</li>
                    <li>3 jugadores: cada jugador tiene 6 dados.</li>
                    <li>4 jugadores: cada jugador tiene 4 dados.</li>
                </ul>
                <p>Los dados sobrantes se tiran al ring.</p>
                <p>El juego es por turnos, as&iacute; que para decidir el orden de lanzamiento habr&aacute; 4 cartas
                    enumeradas del 1 al 4 y cada jugador tomar&aacute; una al azar. El orden ser&aacute; de mayor a
                    menor.</p>
                <img src="./assets/imagenes/avance8/Av8_Img2.jpeg">
                <p>Una vez definido el orden ya se podr&aacute; jugar. El jugador debe tirar un dado al ring con la
                    intenci&oacute;n de colisionar con otros dados para cambiar el color visto desde arriba.</p>
                <p>Cuando un jugador se queda sin dados, quiere decir que ha perdido y no puede continuar jugando. El
                    objetivo del juego es ser el &uacute;nico jugador que tenga al menos un dado al final, y ese jugador
                    es quien gana la partida.</p>
                <ul>
                    <li>Al tirar el dado pueden pasar los siguientes escenarios:</li>
                    <li>El dado no coincide con ning&uacute;n otro de los que se encuentran en el ring.</li>
                    <li>El dado coincide con el mismo color de elemento de alg&uacute;n dado que se encuentra dentro del
                        ring.</li>
                    <li>El dado colisiona con otro(s) dado(s), puede pasar lo siguiente (A: elemento del dado del
                        jugador, B: elemento del dado colisionado):<ul>
                            <li>A Y B son iguales.</li>
                            <li>A es igual a otro(s) dado(s) y B no.</li>
                            <li>B es igual a otro(s) dado(s) y A no.</li>
                            <li>A y B son diferentes, pero coinciden con otros dados que est&aacute;n en el ring,
                                ah&iacute; el jugador deber&aacute; elegir un solo elemento</li>
                        </ul>
                    </li>
                </ul>
                <p>Si se cumple con algunos de los escenarios mencionados, el jugador deber&aacute; aplicar la
                    acci&oacute;n del elemento.</p>
                <p><strong>Los elementos:</strong></p>
                <p>Para poder avanzar en esta secci&oacute;n deben coincidir dos o m&aacute;s dados del mismo color del
                    elemento del ring visto desde arriba.</p>
                <img src="./assets/imagenes/avance8/Av8_Img3.jpeg">
                <img src="./assets/imagenes/avance8/Av8_Img4.jpeg">
                <ul>
                    <li><strong>Fuego (Rojo): </strong>El jugador debe recolectar todos los dados del ring que tienen el
                        color del elemento fuego del ring y termina su turno.</li>
                    <li><strong>Agua (Azul):</strong> El jugador no hace nada, y termina su turno.</li>
                    <li><strong>Tierra (Verde): </strong>El jugador debe recolectar los dados que tienen el color del
                        elemento tierra del ring como un solo bloque por el jugador y termina su turno. En un
                        pr&oacute;ximo podr&aacute; lanzar el bloque de dados. Este bloque cuenta como un dado para los
                        efectos del comod&iacute;n.</li>
                </ul>
                <img src="./assets/imagenes/avance8/Av8_Img5.jpeg">
                <ul>
                    <li><strong>Aire (Blanco): </strong>El jugador debe recolectar los dados que tienen el color del
                        elemento aire del ring, adem&aacute;s debe sacudir el ring por 2s y termina su turno.</li>
                    <li><strong>Trueno (Amarillo): </strong>Si un jugador tiene solo un bloque de dados, el efecto del
                        elemento tierra se desactiva y el bloque se rompe, haciendo que los dados queden separados y
                        sueltos, pero si tiene m&aacute;s de un bloque de dados este anula el efecto del bloque mayor y
                        termina su turno.</li>
                    <li><strong>Comod&iacute;n (Naranja):</strong> El jugador debe tomar un comod&iacute;n del mazo,
                        aplicar la acci&oacute;n y devolver el comod&iacute;n al final del mazo, y luego debe sacudir el
                        ring por 2s y termina su turno.</li>
                </ul>
                <p><strong>Observaciones:</strong></p>
                <p>Si al momento de tirar el dado, este sale del ring, este dado ya no formar&aacute; parte de la
                    partida.</p>
                <p>Si el ring llega a quedar vac&iacute;o todos los jugadores a excepci&oacute;n de qui&eacute;n
                    dej&oacute; el ring vac&iacute;o tiran un dado al ring.</p>
                <p><strong>Comodines:</strong></p>
                <ul>
                    <li>Roba 2 dados a cualquier jugador</li>
                    <li>Roba 1 dado al jugador de tu derecha</li>
                    <li>Roba 1 dado al jugador de tu izquierda</li>
                    <li>Roba 1 dado a cualquier jugador</li>
                    <li>El jugador de tu derecha tira la mitad de sus dados al ring</li>
                    <li>Tira la mitad de tus dados al ring</li>
                    <li>Todos los jugadores tiran 1 dado al ring</li>
                    <li>Todos los jugadores intercambian todos sus dados con los dados de su izquierda</li>
                    <li>Intercambia tus dados con los dados de otro jugador de tu elecci&oacute;n</li>
                    <li>El jugador que elijas tira 2 dados al ring</li>
                    <li>El jugador que elijas tira la mitad de sus dados al ring</li>
                    <li>El jugador de tu izquierda tira la mitad de sus dados al ring</li>
                    <li>Todos los jugadores intercambian todos sus dados con los dados de su derecha</li>
                    <li>Todos los jugadores tiran 2 dados al ring</li>
                    <li>Intercambia tus dados con los dados de otro jugador de tu elecci&oacute;n</li>
                </ul>
                <br>
                <p>Si sale un comod&iacute;n que involucra tirar la mitad de los dados, y el jugador tiene un
                    n&uacute;mero impar de dados, deber&aacute; apartar uno de los dados y luego tirar la mitad de los
                    dados restantes. Si solo tiene un dado, tira el dado al ring y pierde la partida.</p>
                <p></p>

            </div>
        </div>
    </div>
</app-navegacion>