<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Ideas Seleccionadas</h1>
        </div>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance2/Avc2Prototipo1.jpeg"
            Subtitulo="Wrestrelements"
            Contenido="Es un juego mbientado en un mundo donde los elementos naturales cobran vida, 
            los jugadores asumen el papel de poderosos hechiceros y se enfrentan en batallas épicas. 
            Cada jugador debe dominar y utilizar sabiamente los elementos del fuego, agua, tierra y aire para desencadenar habilidades especiales y derrotar a sus oponentes. ">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance2/Avc2Prototipo2.jpeg"
            Subtitulo="Agentes Secretos" Contenido="Es un juego de mesa lleno de intriga y espionaje, donde los jugadores se 
            convierten en hábiles agentes secretos con forma de animales. En un mundo de conspiraciones 
            y peligros, los jugadores deberán infiltrarse en las organizaciones enemigas, resolver acertijos 
            y desentrañar misterios para proteger la paz mundial. Cada animal agente posee habilidades únicas 
            que los jugadores utilizarán estratégicamente para superar obstáculos y desafíos. Con miniaturas 
            detalladas, cartas de misión y dispositivos especiales">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance2/Avc2Prototipo3.jpeg"
            Subtitulo="Resistencia, gana o muere" Contenido="Es un juego de mesa lleno de acción y emoción, donde los jugadores se meten en la piel 
            de un valiente perro en busca de venganza. Después de que su amado dueño sea robado por despiadados 
            ladrones, el perro se embarca en una peligrosa misión para acabar con ellos.">
        </app-plantilla>
    </div>
</app-navegacion>