<app-navegacion>
    <div class="titulo">
       <h1>sdsadasdsa</h1>
    </div>
    <app-plantilla 
    Opcion_clase="container_op1"
    Imagen="https://img.freepik.com/free-vector/space-game-background-neon-night-alien-landscape_107791-1624.jpg?w=2000"
    Contenido="wqeqweqweqweqwewe dsfsdfsdfsd"
    >
    </app-plantilla> 
    <app-plantilla 
    Opcion_clase="container_op1"
    Imagen="https://img.freepik.com/free-vector/space-game-background-neon-night-alien-landscape_107791-1624.jpg?w=2000"
    Contenido="wqeqweqweqweqwewe dsfsdfsdfsd"
    >
    </app-plantilla> 
</app-navegacion>