<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Planificación</h1>
        </div>
        <div class="container">
            <div class="container_op1">
                <p>
                    <b>Roles</b>
                </p>
                <p>
                    Diego : Productor - Líder Arte
                </p>
                <p>
                    Alan : Líder Programador
                </p>
                <p>
                    Paul : Líder Playtesting - Ayudante arte y programador
                </p>
                <img src="./assets/imagenes/avance10/Avc10_Img1.jpeg">
                <p>
                    <b>Avances</b>
                </p>
                <p>
                    Arte
                </p>
                <img src="./assets/imagenes/avance10/Avc10_Img2.jpeg">
                <img src="./assets/imagenes/avance10/Avc10_Img3.jpeg">
                <p>
                    Unity
                </p>
                <img src="./assets/imagenes/avance10/Juego.gif">
            </div>
        </div>
    </div>
</app-navegacion>
