<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Lluvia de Ideas</h1>
        </div>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img1.jpeg"
            Subtitulo="Dibujar, Papel, Aguerrido "
            Contenido="Replicar el dibujo de una imagen en el menor tiempo posible y quien se asemeje más, gana. Es un juego que invita a ser competitivo.">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img2.jpeg"
            Subtitulo="Escuchar, Mago, Cobarde"
            Contenido="Un mago tiene que estar atento a sus alrededores usando sus oídos porque es ciego y si se cae una de sus pociones mágicas puede pasar algo malo. ">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img3.jpeg"
            Subtitulo="Proteger, Artista, Miedoso"
            Contenido="Un artista protege con diferentes tipos de muros sus obras de arte por miedo a que sean robadas o copiadas.">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img4.jpeg"
            Subtitulo="Cantar, Lápiz, Sabio"
            Contenido="Un lápiz inteligente canta para hipnotizar a la gente con el fin de que cumplan sus ordenes.">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img5.jpeg"
            Subtitulo="Pelear, Asesino, Armonioso"
            Contenido="Un asesino va en busca de venganza en contra de sus enemigos, pero no pelea bruscamente sino de manera armoniosa. Sus movimientos son similares a los de un ninja">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img6.jpeg"
            Subtitulo="Gritar, Pandilla, Tranquilo"
            Contenido="Una pandilla buscar traer paz a su ciudad envuelta en caos mediante sus gritos, que gracias a sus poderes especiales, tranquilizan a la gente. ">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img7.jpeg"
            Subtitulo="Matar, Perro, Agilidad"
            Contenido="Un perro combate a los criminales de su vecindario. Es un perro que ha guardado mucho rencor por ellos y los mata. Es muy ágil y no lo pueden atrapar.">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img8.jpeg"
            Subtitulo="Explotar, Tortugas, Afinado"
            Contenido="Una tortuga busca detener la contaminación del mar causada por las ciudades que más daño les hacen explotándolas.  Es una tortuga afinada.">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img9.jpeg"
            Subtitulo="Silbar, Agentes, Divertido"
            Contenido="Un agente divertido que se dedica a proteger gente importante puede localizarlas gracias a su particular silbido.">
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" Imagen="./assets/imagenes/avance1/Avc1Img10.jpeg"
            Subtitulo="Luchar, Fuego, Agresivo"
            Contenido="El fuego queria controlar el mundo y decidio luchar de manera agresiva para conquistar a los otros elementos.">
        </app-plantilla>
    </div>
</app-navegacion>