<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Testing</h1>
        </div>
        <div class="container">
            <div class="container_op1">
                <p>
                    <b>Comentarios:</b>
                    <br>•	No se entendía muy bien del todo al principio, se tuvo que indicarles las reglas de que hacía cada dado constantemente en la primer partida, fue confuso en primera ronda.
                    <br>•	No intuyeron que podían golpear los dados que lanzaban con los que estaban en el ring para girarlos.
                    <br>•	Las cartas las sintieron algo confusas al no saber la dirección en las que afectaban o el orden de tiro.
                    <br>•	Al momento de tirar se confundían un poco con los dados que ellos tiraban con los que se encontraban en el ring. No podían identificar muy bien cuando tenían que lograban emparejar los dados, se perdían los dados
                    <br>•	Más claro el aspecto de los dados
                    <br>•	Les pareció bien la idea de los comodines
                    
                </p>
                <img src="./assets/imagenes/avance7/Av7_Test1.jpg">
                <img src="./assets/imagenes/avance7/Av7_Test2.jpg">
                <img src="./assets/imagenes/avance7/Av7_Test3.jpg">
                <img src="./assets/imagenes/avance7/Av7_Test4.jpg">
            </div>
        </div>
    </div>
</app-navegacion>
