<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Descripción del Juego</h1>
        </div>
        <app-parrafos Opcion_clase="container_op1" 
            Subtitulo="
            Reglas
            "
            Contenido="
            Existen 2 bandos, el perro y la banda de criminales
            "
            Contenido2="
            El perro no pueda retroceder, en cambio los ladrones si
            "
        >
        </app-parrafos>
        <app-plantilla Opcion_clase="container_op1" 
            Imagen="
            ./assets/imagenes/avance3/Avc3Perro.jpeg
            " 
            Subtitulo="
            Acciones y cuando
            "
            Contenido="
            El perro podrá decidir entre matar al criminal y ganar 1 
            vida o sumarlo al grupo para que lo ayude, pero con la condición de que podrá traicionarlo cuando quiera.
            "
        >
        </app-plantilla>
        <app-parrafos Opcion_clase="container_op1" 
            Subtitulo="
            Jugadores
            "
            Contenido="
            2
            "
        >
        </app-parrafos>
        <app-parrafos Opcion_clase="container_op1" 
            Subtitulo="
            Duración
            "
            Contenido="
            15-30 minutos
            "
        >
        </app-parrafos>
        <app-plantilla Opcion_clase="container_op1" 
            Imagen="
            ./assets/imagenes/avance3/Avc3Ladrones.jpeg
            " 
            Subtitulo="
            Turnos
            "
            Contenido="
            Si, así se moverán los bandos.Es un dado para moverse. El tablero será segmentado por cubos
            (tipo fire emblem) y si el perro es interceptado en el mismo lugar que un criminal tendrán que luchar
            "
        >
        </app-plantilla>
        <app-plantilla Opcion_clase="container_op1" 
            Imagen="
            ./assets/imagenes/avance3/Avc3Cartas.jpeg
            " 
            Subtitulo="
            Desafíos
            "
            Contenido="
            A través de cartas desafiantes, se debera resolver acertijos, superar obstáculos
            y tomar decisiones estratégicas para tener buffos en el perro o en los ladrones
            "
        >
        </app-plantilla>
    </div>
</app-navegacion>