<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Iteración 2</h1>
        </div>
        <div class="container">
            <div class="container_op1">
                <b>Perro VS Boss</b>
                <img src="./assets/imagenes/iteracion2/Av10_1.png" (click)="openPopup($event)">
                <b>Perro VS Ladrón</b>
                <img src="./assets/imagenes/iteracion2/Av10_2.png" (click)="openPopup($event)">
                <b>Vecindario</b>
                <img src="./assets/imagenes/iteracion2/Av10_3.png" (click)="openPopup($event)">
                <b>Pixel Art de Personajes</b>
                <img src="./assets/imagenes/iteracion2/Av10_4.jpeg" (click)="openPopup($event)">
            </div>
        </div>
        <div class="popup-image" [style.display]="isPopupVisible ? 'block' : 'none'">
            <span (click)="closePopup()">&times;</span>
            <img [src]="popupImageSrc">
        </div>
    </div>
</app-navegacion>
