:root {
   --color-principal: #5bb7b6;
   --color-fondo-principal: #010002;
   --color-fondo-secundario: #010002b4;
   --color-letras: #ffffff;
   --color-ventanas: #055970;
   --color-cafe: #3f3f43;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   height: 100%;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

body ::-webkit-scrollbar {
   display: none;
}

.container-fullscreen {
   position: relative;
   background-color: gray;
   width: 100%;
   height: 100vh;
}

.color-white {
   color: var(--color-letras);
}

.background-black-primary {
   background-color: var(--color-fondo-principal);
}

.background-green-primary {
   background-color: var(--color-principal);
}

.green-primary {
   color: var(--color-principal);
}

.background-navy-primary {
   background-color: var(--color-fondo-secundario);
}
.background-navy-primary .submenu-item{
   padding: 15px;
}

.navy-primary {
   color: var(--color-fondo);
}

.background-light-blue-primary {
   background-color: var(--color-ventanas);
}

.light-blue-primary {
   color: var(--color-ventanas);
}

.background-light-lead-primary {
   background-color: var(--color-cafe);
}

.light-lead-primary {
   color: var(--color-cafe);
}

.white-color {
   color: white;
}



/*Sobreescritura componetes angular material User components */

.filter .mat-select-placeholder,
.filter .mat-select-min-line {
   color: var(--color-principal);
}

.filter .mat-select-panel .mat-optgroup-label,
.filter .mat-select-panel .mat-option:hover {
   background-color: var(--color-fondo-secundario);
   color: var(--color-principal);
}

.mat-option.mat-active {
   background: var(--color-fondo-secundario);
   color: white;
}

.mat-button.mat-primary.mat-button-disabled,
.mat-button.mat-accent.mat-button-disabled,
.mat-button.mat-warn.mat-button-disabled,
.mat-button.mat-button-disabled.mat-button-disabled,
.mat-icon-button.mat-primary.mat-button-disabled,
.mat-icon-button.mat-accent.mat-button-disabled,
.mat-icon-button.mat-warn.mat-button-disabled,
.mat-icon-button.mat-button-disabled.mat-button-disabled,
.mat-stroked-button.mat-primary.mat-button-disabled,
.mat-stroked-button.mat-accent.mat-button-disabled,
.mat-stroked-button.mat-warn.mat-button-disabled,
.mat-stroked-button.mat-button-disabled.mat-button-disabled {
   color: white;
}

.mdc-list-item__primary-text:hover {
   color: var(--color-principal) !important;
}

.mdc-list-item__primary-text {
   color: #fff !important;
}

.background_img {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(src\assets\imagenes\fondo2.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.titulo {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   margin-top: 25px;
}

.titulo h1 {
   font-size: 30px;
   background-color: #fff;
   padding: 25px;
   border-radius: 5px;
   box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
   font-weight: bold;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.members {
   width: 80%;
   min-height: 300px;
   padding: 25px;
   font-size: 35px;
   line-height: 2.5;
   box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
   border-radius: 5px;
   text-align: center;
   background: #fff;
}

.container_op1,
.container_op2 {
   width: 80%;
   min-height: 100px;
   padding: 20px;
   margin-bottom: 20px;
   font-size: 20px;
   line-height: 1.5;
   box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
   border-radius: 5px;
   text-align: justify;
   background: #fff;
}

.container_op1 img,
.container_op2 img {
   width: 30%;
   display: flex;
   justify-content: center;
   border-radius: 5px;
   margin-bottom: 15px;
   object-fit: fill;
   display: block;
   margin-left: auto;
   margin-right: auto;
   cursor: pointer;
}
.expandida {
   width: 100%;
}
.resolucion {
   height: 100vh;
   width: 100vw;
}
ul{
   padding-left: 5%;
}

@media only screen and (max-width: 768px) {

   .container_op1,
   .container_op2 {
      width: 90%;
   }
   
.container_op1 img,
.container_op2 img {
   width: 70%;
}

}