<app-navegacion>
    <div class="resolucion">
        <div class="titulo">
            <h1>Iteración 1</h1>
        </div>
        <div class="container">
            <div class="container_op1">
                <h1>Ideación</h1>
                <p>
                    Para esta iteración se planificó realizar el modelado del mapa y el movimiento del jugador junto a sus animaciones.
                </p>
                <img src="./assets/imagenes/avance9/Av9_Img1.jpeg" (click)="openPopup($event)">
                <img src="./assets/imagenes/avance9/Av9_Img2.jpeg" (click)="openPopup($event)">
                <img src="./assets/imagenes/avance9/Av9_Img3.jpeg" (click)="openPopup($event)">
                <p>
                    Al inicio se tenia pensado que el perro use armas para atacar, pero por recomendacion de
                    diferentes compañeros de clases, nos dijeron que es mejor que tenga habilidades de perro.
                </p>
                <p><b>Ejemplo de habilidades</b></p>
                <p>
                    . Moreder <br>
                    . Ladrar <br>
                    . Correr <br>
                    . Llamar a la manada <br>
                </p>
                <img src="./assets/imagenes/avance9/Av9_Img4.jpeg" (click)="openPopup($event)">
                <p>
                    <b>Ideas del mapa</b>
                </p>
                <img src="./assets/imagenes/avance9/Av9_Img5.jpeg" (click)="openPopup($event)">
                <img src="./assets/imagenes/avance9/Av9_Img6.jpeg" (click)="openPopup($event)">
                <h1>Diseño</h1>
                <img src="./assets/imagenes/avance10/Avc10_Img2.jpeg" (click)="openPopup($event)"   >
                <img src="./assets/imagenes/avance10/Avc10_Img3.jpeg" (click)="openPopup($event)"   >

                    <h1>Implementación</h1>

                <img src="./assets/imagenes/avance10/Juego.gif" (click)="openPopup($event)" >
                <h1>Playtesting</h1>
                <p>Durante el playtesting recibimos comentarios acerca del diseño del mapa,
                     que les hacia acordar a otros juegos, se sentían familiares. También un punto que nos acotaron fue la velocidad de movimiento del jugador,
                    decían que les parecía un poco lento. Además de sugerir colocar una música de fondo para una mejor experiencia </p>
                <img src="./assets/imagenes/avance9/Av9_Img7.jpeg" (click)="openPopup($event)">
                <img src="./assets/imagenes/iteracion1/playtesting1.jpeg" (click)="openPopup($event)">
            </div>
        </div>
        <div class="popup-image" [style.display]="isPopupVisible ? 'block' : 'none'">
            <span (click)="closePopup()">&times;</span>
            <img [src]="popupImageSrc">
        </div>
    </div>
</app-navegacion>
